<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <link href="https://fonts.googleapis.com/css?family=Cabin|Open+Sans" rel="stylesheet">
    <meta charset="utf-8">
    <title>Administration Page</title>
    <link rel="stylesheet" type="text/css" href="{%static 'dashboard_app/css/style.css' %}">

  </head>
  <body>
    <div class="navbar">
        <img class="logo" src="{% static 'dashboard_app/img/cdlogo.png'%}" alt="">
        <p class="app_title">User Dashboard</p>
      <div id="nav_elements">
          <li><a class="no_decoration" href="/">Home</a></li>
          <li><a class="no_decoration" href="/login">Login</a></li>
      </div>
    </div>
    <!-- COPY ABOVE FOR HEADER -->
    <h3>Administration Page</h3>
  </body>
</html>
